/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONTAINER */
.container {
  border: 2px solid hsl(0, 0%, 84%);
  border-radius: 10px;
  padding: 60px;
  width: 1000px;
  margin: 100px;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
}

/* THE 3 BOXES */
.box {
  color: hsl(0, 0%, 95%);
  height: 450px;
  padding: 30px;
  margin: 0px;
  text-align: center;
  width: 300px;
  min-width: 300px;
  border-radius: 10px;
}

/* BIL 1 SEDANS */
.bil1 {
  background-color: hsl(31, 77%, 52%);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.sedan-bil {
  display: flex;
  margin-left: 25px;
}

.sedan-heading {
  padding: 20px;
}

.readmore-1 {
  color: hsl(31, 77%, 52%);
  background-color: hsl(0, 0%, 95%);
  padding: 13px;
  border: 25px;
  height: 50px;
  width: 150px;
  border-radius: 30px;
  text-align: center;
  margin-left: 25px;
}

/* BIL 2 SUVS */
.bil2 {
  background-color: hsl(184, 100%, 22%);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.suv-bil {
  display: flex;
  margin-left: 25px;
}

.suv-heading {
  padding: 20px;
}

.readmore-2 {
  color: hsl(184, 100%, 22%);
  background-color: hsl(0, 0%, 95%);
  padding: 13px;
  border: 25px;
  height: 50px;
  width: 150px;
  border-radius: 30px;
  text-align: center;
  margin-left: 25px;
}

/* BIL 3 LUXURY */
.bil3 {
  background-color: hsl(179, 100%, 13%);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.luxury-bil {
  display: flex;
  margin-left: 25px;
}

.luxury-heading {
  padding: 20px;
}

.readmore-3 {
  color: hsl(179, 100%, 13%);
  background-color: hsl(0, 0%, 95%);
  padding: 13px;
  border: 25px;
  height: 50px;
  width: 150px;
  border-radius: 30px;
  text-align: center;
  margin-left: 25px;
}

/* FONTS */
h2 {
  font-family: "Big Shoulders";
  font-size: 35px;
  text-align: left;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0px;
}

h3 {
  font-family: "Lexend Deca";
  font-size: 17px;
}

p {
  font-family: "Lexend Deca";
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  text-align: left;
  padding: 30px;
  margin: 0px;
  margin-top: 10px;
  padding-top: 0px;
  padding-bottom: 70px;
}
