/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONTAINER */
.container {
  border: 2px solid hsl(0, 0%, 84%);
  border-radius: 10px;
  padding: 40px;
  width: 1000px;
  margin: 30px;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
}

/* BOXES */
.box {
  color: white;
  height: 500px;
  padding: 30px;
  margin: 0px;
  text-align: center;
  width: 300px;
  min-width: 300px;
  min-height: 500px;
  border-radius: 5px;
}

/* BIL 1 SEDANS */
.bil1 {
  background-color: hsl(31, 77%, 52%);
}

/* BIL 2 SUVS */
.bil2 {
  background-color: hsl(184, 100%, 22%);
}

/* BIL 3 LUXURY */
.bil3 {
  background-color: hsl(179, 100%, 13%);
}

/* FONTS */
h2 {
  font-family: [Big Shoulders Display];
}

h3 {
  font-family: [Lexend Deca];
}

p {
  font-family: [Lexend Deca];
  color: hsla(0, 0%, 100%, 0.75);
  text-align: left;
  
}


/* IMAGES */


/* BUTTONS */

.readmore {
  display: flex;
  justify-content: center;
  
  
}

.readmore-1 {
 color: hsl(31, 77%, 52%);
 background-color: hsla(0, 1%, 76%, 0.75);
 border: 25px;
 height: 40px;
 border-color: black;
 border-radius: 30px;
}

.readmore-2 {
  color: hsl(184, 100%, 22%);
   background-color: hsla(0, 0%, 71%, 0.75);
 border: 25px;
 height: 40px;
 border-color: black;
 border-radius: 30px;
}

.readmore-3 {
  color:hsl(179, 100%, 13%);
 background-color: hsla(0, 0%, 81%, 0.75);
 border: 25px;
 height: 40px;
 border-color: black;
 border-radius: 30px;
}